[submodule "submodule/vcpkg"]
	path = submodule/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "submodule/libigl"]
	path = submodule/libigl
	url = https://github.com/n-taka/libigl.git
[submodule "submodule/certify"]
	path = submodule/certify
	url = https://github.com/djarek/certify.git
[submodule "submodule/stb"]
	path = submodule/stb
	url = https://github.com/nothings/stb.git
